In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,accuracy_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df=pd.read_csv("insurance.csv")

In [3]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
df['bmi']=np.where(df.bmi<=18,'uw',np.where(df.bmi<=26,'nw',np.where(df.bmi<=30,'ow','o')))
df=pd.get_dummies(df)

In [5]:
df

,age,children,charges,sex_female,sex_male,bmi_nw,bmi_o,bmi_ow,bmi_uw,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,16884.92400,1,0,0,0,1,0,0,1,0,0,0,1
1,18,1,1725.55230,0,1,0,1,0,0,1,0,0,0,1,0
2,28,3,4449.46200,0,1,0,1,0,0,1,0,0,0,1,0
3,33,0,21984.47061,0,1,1,0,0,0,1,0,0,1,0,0
4,32,0,3866.85520,0,1,0,0,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,3,10600.54830,0,1,0,1,0,0,1,0,0,1,0,0
1334,18,0,2205.98080,1,0,0,1,0,0,1,0,1,0,0,0
1335,18,0,1629.83350,1,0,0,1,0,0,1,0,0,0,1,0
1336,21,0,2007.94500,1,0,1,0,0,0,1,0,0,0,0,1
1337,61,0,29141.36030,1,0,0,0,1,0,0,1,0,1,0,0

In [6]:
import math

In [7]:
mse=math.inf
r2=0
x=df.drop('charges',axis=1)
y=df['charges']
for i in range(1,50):
    for j in [0.1,0.2,0.3,0.4,0.5]:
        x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=i,test_size=j)
        model=LinearRegression()
        model.fit(x_train,y_train)
        y_pred=model.predict(x_test)
        mse_value=mean_squared_error(y_test,y_pred)
        r2_value=r2_score(y_test,y_pred)
        if r2_value>r2:
            r2=r2_value
            rs_r2=i
            ts_r2=j
            y_r2=model.predict(np.array([(34,3,0,1,1,0,0,0,0,1,0,0,0,1)]))
        if(mse_value<mse):
            mse=mse_value
            rs_mse=i
            ts_mse=j
            y_mse=model.predict(np.array([(34,3,0,1,1,0,0,0,0,1,0,0,0,1)]))

In [8]:
print(r2_value)
print(mse_value)
print(rs_r2)
print(ts_r2)
print(rs_mse)
print(ts_mse)
print(y_r2)
print(y_mse)

0.7506090182289018
35918309.117384955
47
0.1
11
0.1
[28437.23362231]
[28439.13936857]

In [9]:
x.head()

,age,children,sex_female,sex_male,bmi_nw,bmi_o,bmi_ow,bmi_uw,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,1,0,0,0,1,0,0,1,0,0,0,1
1,18,1,0,1,0,1,0,0,1,0,0,0,1,0
2,28,3,0,1,0,1,0,0,1,0,0,0,1,0
3,33,0,0,1,1,0,0,0,1,0,0,1,0,0
4,32,0,0,1,0,0,1,0,1,0,0,1,0,0

In [10]:
df=pd.read_csv("Ice_cream selling data.csv")

In [11]:
df.head()

   Temperature (Â°C)  Ice Cream Sales (units)
0         -4.662263                41.842986
1         -4.316559                34.661120
2         -4.213985                39.383001
3         -3.949661                37.539845
4         -3.578554                32.284531

In [12]:
x=df[['Temperature (Â°C)']]
y=df['Ice Cream Sales (units)']
r2=0
for i in range(1,6):
    poly=PolynomialFeatures(degree=i)
    x_poly=poly.fit_transform(x)
    model=LinearRegression()
    model.fit(x_poly,y)
    y_predict=model.predict(x_poly)
    r2_value=r2_score(y,y_predict)
    if(r2_value>r2):
        r2=r2_value
        deg=i
        y_4=model.predict(poly.fit_transform(np.array([[4]])))

In [13]:
print(r2_value)
print(deg)
print(y_4)

0.945283262189464
5
[30.29471766]

In [14]:
df=pd.read_csv("Hotel Reservations.csv")

In [16]:
y=df['booking_status']
x=df.drop('booking_status',axis=1)
x=x.drop("Booking_ID",axis=1)
x=pd.get_dummies(x)
acc=0
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=10,test_size=0.2)
for i in range(1,21):
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    y_predict=knn.predict(x_test)
    acc_value=accuracy_score(y_test,y_predict)
    if(acc_value>acc):
        acc=acc_value
        neighbour=i
print(acc,neighbour)

0.8140592694693315 1